.links-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    &__icon {
        font-size: 21px;
    }
    &__title {
        @include font(20, 30);
        @include bold;
        margin: 6px 0 46px;
    }
    &__button {
        margin-bottom: 78px;
        width: 127px;
        height: 50px;
        border-radius: 25px;
        border: 1px solid $purple;
        background-color: white;
        color: $purple;
        outline: none;
        @include bold;
        @include font(13, 16);
        position: relative;
        &:hover {
            background-color: $purple;
            color: white;
        }
    }
}

@media screen and (min-width: 768px) {
    .links-content {
        margin-top: 11px;
        &__title {
            @include font(30, 30);
            @include bold;
            margin-bottom: 38px;
        }
    }
}

.no-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 74px 0 141px;
    &__img {
        width: 150px;
        height: 150px;
    }
    &__info {
        max-width: 427px;
        margin-top: 28px;
        text-align: center;
        color: $turquoise;
        @include font(25, 25);
        @include bold;
        & span:after {
            content: "";
        }
    }
}